<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter 5</title>
</head>
<body style="margin: 0px; height: 100%;"> 
    <div style="padding: 20px; background-color: #0072BC; position: absolute; top:0px; right: 0px; bottom: 0px; left:0px">
        {% comment %} <div style="margin: 20px;"> {% endcomment %}
            {% block main %}
            {% endblock %}
        {% comment %} </div> {% endcomment %}
    </div>
</body>
</html>